<h1>Welcome</h1>
<p> Welcome to William Rails Demo !!! </p>
<p> Welcome to 2nd page William Rails Demo !!! </p>

<h1>Welcome 2 </h1>
<p> Welcome to Rails Demo !!! </p>
<p> Welcome to 2nd page Rails Demo !!! </p>